body {
    font-family: Arial;
    background-color: #f2f2f2;
    padding: 20px;
}

.product {
    background-color: white;
    padding: 10px;
    margin: 10px;
    width: 200px;
    border-radius: 5px;
}

button {
    padding: 6px;
    background-color: green;
    color: white;
    border: none;
    cursor: pointer;
}

input {
    padding: 5px;
    margin: 5px;
}